.eaempage--background-gray{
    background-color: #f1f1f1;
}

.eaempage--background-white{
    background-color: #ffffff;
}

.eaempage--background-black{
    background-color: #000000;
}

.eaempage--background-beige{
    background-color: #EEE1C6;
}

.eaempage--background-aero{
    background-color: #CAF1DE;
}



