scripts=[
  "
  create service user eaem-ids-service with path system/experience-aem
  set ACL for eaem-ids-service
        allow jcr:read on /apps
        allow jcr:read on /conf
        allow jcr:read on /libs
        allow jcr:all on /content
        allow jcr:read on /var
        allow jcr:all on /var/dam
  end
  "
]