.eaem--background-gray{
    background-color: #f1f1f1;
}

.eaem--background-white{
    background-color: #ffffff;
}

.eaem--background-black{
    background-color: #000000;
}

@media (min-width: 992px){
    .eaem--content-desktop-hide {
        display: none !important;
    }
}

@media (min-width:768px) and (max-width:991.95px){
    .eaem--content-tablet-hide {
        display: none !important;
    }
}

@media (max-width: 767.95px){
    .eaem--content-mobile-hide {
        display: none !important;
    }
}