.x-tool-mit {
    background-position:0 -60px;
}

.x-tool-mit-over {
    background-position:-15px -60px;
}

.x-tool-mib {
    background-position:0 -75px;
}

.x-tool-mib-over {
    background-position:-15px -75px;
}

.x-tool-top-over{
    background-position:0 -210px;
}

.x-tool-top-over {
    background-position:-15px -210px;
}
