scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/eaem-spa-vanity-urls
        create path (nt:unstructured) /content/dam/eaem-spa-vanity-urls/jcr:content
        set properties on /content/dam/eaem-spa-vanity-urls/jcr:content
        set cq:conf{String} to /conf/eaem-spa-vanity-urls
        set jcr:title{String} to \"Experience AEM SPA Vanity URLs\"
        end
        "
]
