.eaem-cfm-font-size {
    width: 30%;
    margin-left: -50%;
    height: 23%;
    margin-top: -50%;
    box-sizing: content-box;
    z-index: 10100;
}

.eaem-container-margin{
    padding: 30px;
}
.eaem-cfm-font-size > iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #888;
}