<div data-sly-use.model="apps.eaem.assets.core.models.HelloWorldModel"
     style="margin: 20px 0 20px 0"
     data-sly-test="${!model.iconName}">
        Hello, select a svg icon in dialog!
</div>

<div data-sly-use.model="apps.eaem.assets.core.models.HelloWorldModel" data-sly-test="${model.iconName}">
    <div style="margin-bottom: 20px">
        Hello, you've selected the icon : ${model.iconName}
    </div>

    <svg focusable="false">
        <use xlink:href="#${model.iconName}"></use>
    </svg>
</div>