filter.enable.safe.user.agents=B"false"
filter.excluded.paths=[ \
  "/libs/dam/gui/content/assets/assetlinkshare", \
  "/content/communities/scorm/RecordResults", \
  "/content/cq:graphql/global/endpoint", \
  "/graphql", \
  "/content/graphql/endpoint", \
  "/content/eaem-cs-spa-read-post-data/us/en/home", \
  ]
filter.methods=[ \
  "PUT", \
  "DELETE", \
  "POST", \
  ]
filter.safe.user.agents=[ \
  "Apache-HttpClient/*", \
  "Jakarta\ Commons-HttpClient/*", \
  "Jakarta-Commons-VFS", \
  "curl/*", \
  "Wget/*", \
  "WebDAVFS/*", \
  "Microsoft-WebDAV-MiniRedir/*", \
  "Ruby", \
  "Adobe-Campaign/*", \
  "Forms-Mobile\ *", \
  ]
service.pid="com.adobe.granite.csrf.impl.CSRFFilter"
