.eaem-assets-preview-tool-form{
    margin: 10px 40px 0px 40px;
    height: 87%;
}

.eaem-assets-preview-tool-col1{
    width: 30%;
    margin-top: 10px;
    overflow-y: auto;
}

.eaem-assets-preview-tool-col2{
    height: 95%;
    padding: 1rem;
    overflow: hidden;
    width: 65%;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
    background: white;
}

.eaem-assets-preview-tool-bottom-bar{
    margin-top: 20px;
    text-align: right;
}

#eaem-assets-preview-colorization-img {
    padding-top: 50%;
    transform: translateY(-40%);
}

