scripts=[
        "
        create service user eaem-user-report-admin with path system/cq:services/experience-aem
        set principal ACL for eaem-user-report-admin
                allow jcr:all on /var
                allow jcr:read on /apps
                allow jcr:read on /content
        end
        "
]