service.special_link_patterns=""
service.special_link_prefix=["javascript:","data:","mailto:","#","<!--","${","tel:"]
service.bad_link_tolerance_interval=I"48"
service.check_override_patterns=["^system/"]
service.cache_broken_internal_links=B"false"
scheduler.concurrent=B"false"
scheduler.period=L"5"
