<div style="width: 100%; border: 1px solid; padding: 20px"
     data-sly-use.model="apps.experienceaem.assets.core.models.DynVarsCFModel"
     data-sly-test="${model.modalData}">
        <div style="color: red">
                ${model.modalData.eaemHeader}
        </div>
        <div style="margin-top: 10px">
                ${model.modalData.eaemContent  @context='html'}
        </div>
</div>
<div style="width: 100%; height: 30px; margin-top: 30px"
     data-sly-use.model="apps.experienceaem.assets.core.models.DynVarsCFModel" data-sly-test="${!model.cfSelectedFrom && wcmmode.edit}">
        Content Fragment not configured
</div>

